[alias]
	ci = commit -a
	stat = status -s
	co = checkout
	unadd = reset HEAD
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
        editor = nano
[github]
	user = jgroh9
	password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[init]
        defaultBranch = main
[pull]
        rebase = false
[push]
	default = tracking
[tag]
	gpgsign = true
[user]
	name = Jeremy Groh
	email = 1718185+jgroh9@users.noreply.github.com
	signingkey = 3C86AAFE408D5F65
